<!--<li class="list-group-item">-->
<li [ngClass]="{'list-group-item': true,
				'list-group-item-success': compteurEtat === 'positif',
				'list-group-item-danger': compteurEtat === 'negatif'}">
				
	<div class="card" >
		<div class="card-body">
			<h3 class="card-title">{{title}}
			<small class="text-muted  pull-right">{{created_at | date: 'short' }}</small>
			</h3>
			<p>{{content}}</p>
			<button class="btn btn-success"
					(click)="ajouterLike()">Love it</button>
			<button class="btn btn-danger"
					(click)="retirerLike()">Don't love it</button>
		</div>	
	</div>	
</li>



               